
body {
    margin: 0;
} 
/* Header */
#banner{
    width: 375px;
}
/* Main */
.container{
    margin-top: 50px;
    width: auto;
    height: 140px;
    display: flex;
    gap:10px;
}
.emoji{
    font-size: 60px;
}
.list{
    list-style-type: none;
    padding: 0px;
    width: 200px;
    display: inline;
    margin: 0;
}
li{
    width:200px;
    margin: auto ;
    margin-bottom: 5px;
}
.circle{
    scale: 1.5;
    width:16px;
    height: 16px;
    margin: 23px -8px 35px 32px;
}
.plus{
    font-size: 25px;
    margin: 18px -8px -9px -17px;
    width:16px;
    height: 16px;
}
.line{
    width:300px;
    border-bottom:1px solid #D2D2D2;
    margin: -20px auto;
}
/* bottomSet */


h2{
    text-align: center;
}
.added-text{
    margin:30px auto 15px 10px;
}


